header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 401;
  height: 7vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.8);
  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 2em;
    font-weight: 700;
    color: $base;
    text-align: center;
  }
}
